<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Test row 1</string>
		<key>subTitle</key>
		<string>Test row 1 subtitle</string>
		<key>iconName</key>
		<string>iconName1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Test row 2</string>
		<key>subTitle</key>
		<string>Test row 2 subtitle</string>
		<key>iconName</key>
		<string>iconName2</string>
	</dict>
</array>
</plist>
